* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    text-align: center;
    gap: 5px;
}

.topo {
    background-color: burlywood;
    grid-area: 1 / 1 / 2 / 3;
    padding: 10px;
}

.menu {
    background-color: plum;
    grid-area: 2 / 1 / 3 / 3;
      padding: 10px;
}

.principal {
    background-color: aquamarine;
    grid-area: 3/ 1 / 4 / 2;
      padding: 10px;
}

.secundario {
    background-color: rgb(202, 106, 89);
    grid-area: 3 / 2 / 4 / 3;
      padding: 10px;
}

.rodape {
    background-color: cornflowerblue;
    grid-area: 4 / 1 / 5 / 3;
      padding: 10px;
}