@charset "UTF-8";

/*configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
}

/*????*/
html,body{
    min-height: 100%vh; /*tamanho minimo*/
}

/*header*/
header{
    background-color: black ;
    color: white;
    height: 260px;
    text-align: center;
    
}

/*titulo*/
header > h1{
    font-weight: bold;
    font-variant: small-caps;
    padding-top: 50px;

}

/*nome do autor*/
header > p{
    font-size: 16px;
    padding-bottom: 50px;
   
}

/* links*/
 a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

/*configurações gerais das section*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    
}

/*configuração das section 'normais'*/
section.normal{
    background-color: white;
    color: black;

}

/*configuração da section com as imagens*/
section.imagem {
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.308);
}

/*rodapé*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


